.separator {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 2;
}

.separator:before,
.separator:after {
  display: inline-block;
  content: " ";
  text-shadow: none;
  width: 25%;
  border-top: 1px solid #444;
  vertical-align: top;
  margin-top: 1em;
}

.separator:before {
  margin-right: 1em;
}

.separator:after {
  margin-left: 1em;
}